.card-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 40px;
    border-radius: 30px;
    flex-wrap: wrap;
  }

  .image-card {
    position: relative;
    width: 480px;
    height: 300px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }

  .image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay-text {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 30px;
    font-weight: 800;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    text-align: center;
  }

  .hover-text {
    opacity: 90%;
    transition: opacity 0.3s ease-in-out;
  }
  
  .card:hover .hover-text {
    opacity: 1;
  }

  .interactive-div {
    transition: 0.3s;
    cursor: pointer;
  }
  
  .interactive-div:hover {
    opacity: 1;
    transform: scale(1.02);
  }
  
  .backgroundop {
    background: url(image/pohonnagairyoko.png);
    width: 900px;
  }

  .tab1{
    background-color: #ffffff;
    transition: 0.5s;
  }
  .tab1:hover{
    background-color: #dadada;
  }

  .fade-in-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .fade-in-up.show {
    opacity: 1;
    transform: translateY(0);
  }

  img {
    pointer-events: none;
  }
  
  
  